.label.big {
  font-size: 1.1em;
}

.simple-notification.error {
  background: #d9534f !important;
}

.simple-notification.success {
  background: #5cb85c !important;
}

.router-link-active {
  color: #ffffff !important;
}

a {
  cursor: pointer;
}

.ng-invalid.ng-touched {
  border: solid 1px red !important;
}
