<div class="{{ containerClass || 'form-group' }}">
  <label class="control-label" *ngIf="label">
    <a href="#" [tooltip]="tooltip" tabindex="-1">
      <span class="glyphicon glyphicon-question-sign"></span>
    </a>
    {{ label }}
  </label>
  <div class="input-group">
    <div class="btn-group">
      <label *ngFor="let option of options" class="btn btn-{{ option.class || 'default' }}" 
        [(ngModel)]="model" (ngModelChange)="updateData($event)" 
        [btnRadio]="option.value" [attr.readonly]="readonly || null">
        {{ option.label }}
      </label>
    </div>
</div>
