<form [ngFormModel]="calculatorFormGroup">
  <div class="row">
    <div class="col-md-12">
      <input class="opportunityName" type="text" ngControl="name" [(ngModel)]="calculator.opportunity.name" placeholder="Your property name" autofocus>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>Income</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <widget-calculator-input 
        label="Number of Tenants" 
        type="number" 
        tooltip="The total number of tenants that will live in the house" 
        [(model)]="calculator.opportunity.tenantNumber">
      </widget-calculator-input>
    </div>
    <div class="col-md-6">
      <widget-calculator-input 
        label="Rent Per Tenant Per Week" 
        type="currency" 
        tooltip="test" 
        [(model)]="calculator.opportunity.rentPerTenantWeekly"
        step="5">
      </widget-calculator-input>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>Expenses</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <widget-calculator-input
        label="Bills Yearly"
        type="currency"
        tooltip="The amount you will pay in bills per year - gas, electricity, internet etc. Don't include bills paid by the tenant."
        [(model)]="calculator.opportunity.billsYearly"
        step="100">
      </widget-calculator-input>
    </div>
    <div class="col-md-6">
      <widget-calculator-input
        label="Maintenance Yearly"
        type="currency"
        tooltip="The amount of maintenance you will spend keeping the property per year. This includes fixing things like light bulbs, white goods, repaining etc."
        [(model)]="calculator.opportunity.maintenanceYearly"
        step="100">
      </widget-calculator-input> 
    </div>
  </div>

  <div class="row" *ngIf="calculator.advanced">
    <div class="col-md-6">
      <widget-calculator-input
        label="Management"
        type="percent"
        tooltip="The amount you will pay for property management as a percentage of your gross income. Usually 8-12%."
        [(model)]="calculator.opportunity.management">
      </widget-calculator-input>
    </div>
    <div class="col-md-6">
      <widget-calculator-input
        label="Voids"
        type="percent"
        tooltip="The percentage of the year that the property will remain empty"
        [(model)]="calculator.opportunity.voids">
      </widget-calculator-input>    
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>The Property</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <widget-calculator-input
        label="Purchase Price"
        type="currency"
        tooltip="The amount you'll spend to purchase the property"
        [(model)]="calculator.opportunity.purchasePrice"
        step="2500">
      </widget-calculator-input>
    </div>
    <div class="col-md-6">
      <widget-calculator-input
        label="Refurbishment Cost"
        type="currency"
        tooltip="The amount you'll spend to convert the property so it is suitable to let out. For example rennovating, adding ensuites etc."
        [(model)]="calculator.opportunity.refurbCost"
        step="1000">
      </widget-calculator-input>
    </div>
  </div>

  <div class="row" *ngIf="calculator.advanced">
    <div class="col-md-6">
      <widget-calculator-input
        label="Legal Fees"
        type="currency"
        tooltip="The fees you will pay solicitors for conveyencing etc. Usually around £1,000 for a normal property purchase."
        [(model)]="calculator.opportunity.legalFees"
        step="250">
      </widget-calculator-input>
    </div>
    <div class="col-md-6">
      <widget-calculator-input
        label="Stamp Duty"
        type="currency"
        tooltip="The Government charges Stamp Duty tax each time you purchase a property. Click the calculator icon to the right of the stamp duty text box to calculate this figure, then enter it here."
        [(model)]="calculator.opportunity.stampDuty"
        step="500"
        link="https://www.tax.service.gov.uk/calculate-stamp-duty-land-tax/#/intro"
        linkIcon="fa fa-calculator">
      </widget-calculator-input>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>
        Will You Take Out a Mortgage?
        <widget-calculator-radio
        [(model)]="calculator.opportunity.mortgage"
        containerClass="inline"
        [options]="[
          {label: 'No', value: false },
          {label: 'Yes', value: true } 
        ]">
      </widget-calculator-radio>
      </h3>
    </div>
  </div>

  <div *ngIf="calculator.opportunity.mortgage">
    <div class="row" *ngIf="calculator.advanced">
      <div class="col-md-6">
        <widget-calculator-radio label="Payment Basis" 
          tooltip="Will you repay the entire mortgage, or just pay the interest? If you are unsure, choose repayment."
          [(model)]="calculator.opportunity.paymentBasis"
          [options]="[
            {label: 'Repayment', value: 'repayment' }, 
            {label: 'Interest Only', value: 'interestOnly' } 
          ]">
        </widget-calculator-radio>
      </div>
      <div class="col-md-6">
        <widget-calculator-radio label="Mortgage Type" 
          tooltip="The type of mortgage you will take out. If you are unsure, choose 'Market Value'."
          [(model)]="calculator.opportunity.mortgageType"
          [options]="[
            {label: 'Buy To Let', value: 'buyToLet' }, 
            {label: 'Commercial', value: 'commercial' } 
          ]">
        </widget-calculator-radio>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6" *ngIf="calculator.opportunity.mortgageType == 'buyToLet'">
        <widget-calculator-input
          label="Value After Conversion"
          type="currency"
          tooltip="What do you estimate your property will be worth after the conversion has been done? This determines how much the bank will loan to you."
          [(model)]="calculator.opportunity.valuationBuyToLet"
          step="2500">
        </widget-calculator-input>
      </div>
        <div class="col-md-6" *ngIf="calculator.opportunity.mortgageType == 'commercial'">
        <widget-calculator-radio 
          label="Pull Out Extra Money" 
          tooltip="If the banks offer to loan you more than your total capital investment, do you want to borrow the difference? For example, if you buy the property for 70k, the conversion costs 50k (total of 120k) and the banks offer to loan you 130k, do you want to borrow the extra 10k? This will effectively put you in negative equity."
          [(model)]="calculator.opportunity.pullOutExtraMoney"
          [options]="[
            {label: 'No', value: false }, 
            {label: 'Yes', value: true } 
          ]">
        </widget-calculator-radio>
      </div>
      <div class="col-md-6">
        <widget-calculator-input
          *ngIf="calculator.opportunity.mortgageType == 'commercial'"
          label="Multiplier"
          type="number"
          tooltip="The multiplier is the number that the banks will multiply your yearly revenue by in order to arrive at a valuation. The closer your property is to London, the higher the multiplier (ie 12), the further away, the lower (ie Birmingham it's 7). Think of it as the return an investor expects on their money. They can earn more closer to London, because there is more competition."
          [(model)]="calculator.opportunity.multiplier"
          min="4" max="16">
        </widget-calculator-input>
      </div>
      <div class="col-md-6" *ngIf="calculator.advanced">
        <widget-calculator-input
          label="Percentage of Valuation to Borrow (LTV)"
          type="percent"
          tooltip="How much of the value of the property the banks will loan you. They will usually loan up to 75%."
          [(model)]="calculator.opportunity.loanToValue"
          step="5">
        </widget-calculator-input>
      </div>
      <div class="col-md-6">
        <widget-calculator-input
          label="Interest Rate (APR)"
          type="percent"
          tooltip="The interest rate the bank will charge per year."
          [(model)]="calculator.opportunity.apr"
          step="0.25">
        </widget-calculator-input>
      </div>
      <div class="col-md-6" *ngIf="calculator.advanced">
        <widget-calculator-input
          label="Mortgage Length"
          type="number"
          tooltip="The length in years of the mortgage. Standard length is 25."
          [(model)]="calculator.opportunity.term"
          max="50"
          min="1">
        </widget-calculator-input>
      </div>
    </div>
  </div><!-- /hide if mortgage == false -->
</form>
