<div class="panel" 
  [class.panel-danger]="calculator.profitYearly() < 0" 
  [class.panel-success]="calculator.profitYearly() > 0" 
  [class.panel-info]="calculator.profitYearly() == 0">
  <div class="panel-heading">{{ calculator.opportunity.name || "Your Property Name" }}</div>
  <div class="panel-body">

    <table class="table">
      <tbody>
        <tr>
          <th class="no-border"><h3>Gross Profit</h3></th>
          <th class="no-border">Yearly</th>
          <th class="no-border">Monthly</th>
        </tr>
        <tr>
          <th>Income</th>
          <td>{{ calculator.revenueYearly() | localecurrency:defaultLocale:currency:true:'1.2-2' }}</td>
          <td>{{ calculator.revenueYearly() / 12 | localecurrency:defaultLocale:currency:true:'1.2-2' }}</td>
        </tr>
        <tr>
          <th>Expenses</th>
          <td>{{ calculator.expensesYearly() | localecurrency:defaultLocale:currency:true:'1.2-2' }}</td>
          <td>{{ calculator.expensesYearly() / 12 | localecurrency:defaultLocale:currency:true:'1.2-2' }}</td>
        </tr>
        <tr>
          <th>Gross Profit</th>
          <td>{{ calculator.grossProfitYearly() | localecurrency:defaultLocale:currency:true:'1.2-2' }}</td>
          <td>{{ calculator.grossProfitYearly() / 12 | localecurrency:defaultLocale:currency:true:'1.2-2' }}</td>
        </tr>
      </tbody>

      <tbody *ngIf="calculator.mortgage()">
        <tr>
          <th class="no-border"><h3>Mortgage</h3></th>
          <th class="no-border">Yearly</th>
          <th class="no-border">Monthly</th>
        </tr>
        <tr>
          <th>Amount Borrowed</th>
          <td colspan="2">{{ calculator.mortgagePrincipal() | localecurrency:defaultLocale:currency:true:'1.2-2' }}</td>
        </tr>
        <tr>
          <th>Mortgage Payments</th>
          <td>{{ calculator.mortgagePaymentsYearly() | localecurrency:defaultLocale:currency:true:'1.2-2' }}</td>
          <td>{{ calculator.mortgagePaymentsYearly() / 12 | localecurrency:defaultLocale:currency:true:'1.2-2' }}</td>
        </tr>
      </tbody>

      <tbody>
        <tr>
          <th class="no-border"><h3>Net Profit</h3></th>
          <th class="no-border">Yearly</th>
          <th class="no-border">Monthly</th>
        </tr>
        <tr>
          <th>Net Profit</th>
          <td>
            <span class="label big" 
              [class.label-danger]="calculator.profitYearly() < 0" 
              [class.label-success]="calculator.profitYearly() > 0"
              [class.label-info]="calculator.profitYearly() == 0">
              {{ calculator.profitYearly() | localecurrency:defaultLocale:currency:true:'1.2-2' }}
            </span>
          </td>
          <td>
            {{ calculator.profitMonthly() | localecurrency:defaultLocale:currency:true:'1.2-2' }}
          </td>
        </tr>
      </tbody>

      <tbody *ngIf="calculator.advanced">
        <tr>
          <h3>Capital</h3>
        </tr>
        <tr>
          <th>Capital Invested</th>
          <td colspan="2">{{ calculator.capitalInvested() | localecurrency:defaultLocale:currency:true:'1.2-2' }}</td>
        </tr>
        <tr>
          <th>Money Left In</th>
          <td colspan="2">{{ calculator.moneyLeftIn() | localecurrency:defaultLocale:currency:true:'1.2-2' }}</td>
        </tr>
        <tr *ngIf="calculator.pullOutExtraMoney">
          <th>Money Pulled Out</th>
          <td colspan="2">{{ calculator.moneyPulledOut() | localecurrency:defaultLocale:currency:true:'1.2-2' }}</td>
        </tr>
      </tbody>

      <tbody *ngIf="calculator.advanced">
        <tr>
          <h3>Formulas</h3>
        </tr>
        <tr>
          <th>
            <a href="#" tooltip="Yield is calculated by your yearly revenue divided by the post refurbishment valuation of your property." tabindex="-1">
              <span class="glyphicon glyphicon-question-sign"></span>
            </a>
            Yield
          </th>
          <td colspan="2">{{ calculator.yield() / 100 | percent }}</td>
        </tr>
        <tr>
          <th>
            <a href="#" tooltip="ROI is calculated as your yearly net profit, divided by your money left in the deal. If the result is infinity, it's because you managed to get all of your money back again through financing. Congrats!" tabindex="-1">
              <span class="glyphicon glyphicon-question-sign"></span>
            </a>
            Return On Investment
          </th>
          <td colspan="2">{{ calculator.returnOnInvestment() / 100 | percent }}</td>
        </tr>
      </tbody>
    </table>

    <small>Note: All figures are yearly unless specified otherwise</small>

  </div>
</div>
