<div class="row">
  <div class="col-md-12">
    <div class="btn-group">
      <label class="btn btn-primary" [(ngModel)]="calculator.advanced" [btnRadio]="false">Simple Mode</label>
      <label class="btn btn-danger" [(ngModel)]="calculator.advanced" [btnRadio]="true">Advanced Mode</label>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <calculator-input [calculator]="calculator"></calculator-input>
  </div>
  <div class="col-md-4">
    <calculator-output [calculator]="calculator"></calculator-output>
  </div>
</div>
