<div *ngIf="calculator != null">
  <div class="row">
    <div class="col-md-3">
      <div class="btn-group">
        <label class="btn btn-primary" [(ngModel)]="calculator.advanced" [btnRadio]="false">Simple Mode</label>
        <label class="btn btn-danger" [(ngModel)]="calculator.advanced" [btnRadio]="true">Advanced Mode</label>
      </div>
    </div>
    <div class="col-md-3" *ngIf="calculator.property.isNewDocument()">
      <a (click)="confirmExample.show()" class="btn">
        <span class="glyphicon glyphicon-question-sign"></span>
        Load some example data
      </a>
      <modal-confirm #confirmExample 
        title="Load Example Calculation?" question="You will lose any data you have already entered into the calculator below" 
        positive="Load Data" (positive)="loadExampleProperty()"
        negative="Don't Load">
      </modal-confirm>

    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <calculator-input [calculator]="calculator"></calculator-input>
    </div>
    <div class="col-md-4">
      <calculator-output [calculator]="calculator"></calculator-output>
      <calculator-controls [calculator]="calculator" 
        (calculator)="setCalculator($event)"></calculator-controls>
    </div>
  </div>
</div>
