<div *ngIf="calculator != null">
  <div class="row">
    <div class="col-md-12">
      <div class="btn-group">
        <label class="btn btn-primary" [(ngModel)]="calculator.advanced" [btnRadio]="false">
          <span class="glyphicon glyphicon-baby-formula"></span>
          Simple Mode
        </label>
        <label class="btn btn-danger" [(ngModel)]="calculator.advanced" [btnRadio]="true"
          tooltip="Get expense and more mortgage options as well as more detailed calculations in advanced mode" tooltipPlacement="bottom">
          <span class="glyphicon glyphicon-flash"></span>
          Advanced Mode
        </label>
      </div>
      <span tooltip="Get expense and more mortgage options as well as more detailed calculations in advanced mode" tooltipPlacement="bottom">
        <span class="glyphicon glyphicon-chevron-left"></span> Get more features in Advanced mode
      </span>
      <a (click)="confirmExample.show()" *ngIf="calculator.opportunity.isNewDocument()" class="btn">
        <span class="glyphicon glyphicon-question-sign"></span>
        Load some example data
      </a>
      <modal-confirm #confirmExample 
        title="Load Example Calculation?" question="You will lose any data you have already entered into the calculator below" 
        positive="Load Data" (positive)="loadExampleOpportunity()"
        negative="Don't Load">
      </modal-confirm>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <calculator-input [calculator]="calculator"></calculator-input>
    </div>
    <div class="col-md-4">
      <calculator-output [calculator]="calculator"></calculator-output>
      <calculator-controls [calculator]="calculator" 
        (calculator)="setCalculator($event)"></calculator-controls>
    </div>
  </div>
</div>
