<div class="jumbotron property">

  <div class="welcome">
    <h1>
      <small>welcome <span *ngIf="userService.isLoggedIn()">back </span>to</small><br>
      The World's Best Property Investment Calculator
    </h1>
  </div>

  <div *ngIf="userService.isLoggedIn() === false" class="features container">
    <div class="row">
      <div class="col-sm-4">
        <div class="thumbnail">
          <div class="image-container">
            <span class="glyphicon glyphicon-piggy-bank"></span>
          </div>
          <div class="caption">
            <h3>Appraise Investments</h3>
            <p>Quickly and easily see if an investment opportunity is likely to be profitable</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <div class="image-container">
            <span class="glyphicon glyphicon-scale"></span>
          </div>
          <div class="caption">
            <h3>Calculate Formulas</h3>
            <p>Automatically calculate formulas like Yield and Return on Investment (ROI)</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <div class="image-container">
            <span class="glyphicon glyphicon-duplicate"></span>
          </div>
          <div class="caption">
            <h3>Compare Opportunities</h3>
            <p>Compare multiple investment opportunities on a like for like basis</p>
          </div>
        </div>
      </div>
    </div>
  </div><!-- / features -->

</div><!-- / jumbotron -->

<div *ngIf="opportunities">

  <!-- title -->
  <h3 *ngIf="opportunities.length > 0" class="text-center">
    Your Saved Calculations
  </h3>

  <!-- list -->
  <table>
    <tbody>
      <tr *ngFor="let opportunity of opportunities">
        <td class="opportunity-name">
          {{ opportunity.name }}
        </td>
        <td>
          <button type="button" class="btn btn-primary" 
            [routerLink]="['CalculatorLoad', {opportunityId: opportunity.id}]">
            <span class="glyphicon glyphicon-circle-arrow-right"></span>
            Load
          </button>    
        </td>
        <td>
          <button type="button" class="btn btn-danger" (click)="deleteOpportunity(opportunity)">
            <span class="glyphicon glyphicon-trash"></span>
            Delete
          </button>
        </td>
      </tr>
      <tr>
        <td colspan="3" class="new-calculation-container">
          <button class="btn btn-primary btn-lg btn-xl" [routerLink]="['Calculator']">
            <i class="fa fa-calculator" aria-hidden="true"></i>
            New Calculation
          </button>

          <button class="btn btn-default btn-lg btn-xl" (click)="userService.showLoginModal()"
            *ngIf="!userService.user">
            <span class="glyphicon glyphicon-log-in"></span>
            Login
          </button>
        </td>
      </tr>
    </tbody>
  </table>
