<div *ngIf="tokenValid" class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <h3>Change Your Password</h3>

      <form [ngFormModel]="resetPasswordForm" (submit)="resetPassword()" class="form">

        <!-- new password -->
        <div class="form-group">
          <label for="password">Your New Password</label>
          <input ngControl="password" type="password" id="password" #password="ngForm" class="form-control" />
          <div [hidden]="password.valid || password.pristine" 
            class="alert alert-danger">
            Longer passwords are way more secure. Type something at least 6 characters long.
          </div>
        </div>

        <!-- buttons -->
        <div class="form-group">
          <button type="submit" class="btn btn-primary" [disabled]="!resetPasswordForm.valid">
            Set Your Password
          </button>
        </div>

      </form>

    </div>
  </div>
</div>
