<div class="container">
  <h1>Boring Legal Mumbo Jumbo</h1>

  <h2>Disclaimer</h2>
  <p>
    This webapp should not be relied upon when making financial decisions. While we make every effort to make it accurate, there still may be bugs in its inner workings. 
  </p>
  <p>
    Additionally, its calculations are not financial, legal or investment advice and should not be relied upon as such.
  </p>
  <p>
    We accept no responsibility for the outcome of your activities after having used this calculator.
  </p>

  <h2>Cookies</h2>
  <p>
    Cookies are small files that websites store on a visitor's computer to help them run. This webapp uses cookies for things like the login system. 
  </p>
  <p>
    By using this calculator you implicitely give us permission to store cookies on your computer.
  </p>

  <h2>... sigh!</h2>
  <p>
    Sorry about all that, legal jargon really gets my goat but we have to do it nowadays. On a personal note, I hope you enjoy using this calculator and it proves useful to you. We'd love to hear your feedback - get in touch <a href="https://www.cocept.io/contact" target="_blank">here</a>.
  </p>
</div>
