<modal-info title="Log In Or Sign Up" #loginModal>
  <div class="container-fluid">
    <div class="row" *ngIf="!showForgotPassword">

      <div class="col-md-6">
        <h3>Login</h3>

        <!-- email -->
        <form [ngFormModel]="loginForm" (submit)="login()" class="form">
          <div class="form-group">
            <label for="email">Email</label>
            <input ngControl="email" id="email" #loginEmail="ngForm" class="form-control" />
            <div [hidden]="loginEmail.valid || loginEmail.pristine" 
              class="alert alert-danger">
              Sorry, that email doesn't look correct
            </div>
          </div>

          <!-- password -->
          <div class="form-group">
            <label for="password">Passphrase</label>
            <input ngControl="password" type="password" id="password" #loginPassword="ngForm" class="form-control" />
            <div [hidden]="loginPassword.valid || loginPassword.pristine" 
              class="alert alert-danger">
              Please type your password
            </div>
          </div>

          <!-- buttons -->
          <div class="form-group">
            <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary">
              <span class="glyphicon glyphicon-log-in"></span>
              Login
            </button>
            <button type="button" class="btn btn-link" (click)="setShowForgotPassword(true)">
              <span class="glyphicon glyphicon-question-sign"></span>
              Help
            </button>
            <button type="button" class="btn btn-link" (click)="loginModal.hide()">
              <span class="glyphicon glyphicon-remove-sign"></span>
              Cancel
            </button>
          </div>
        </form>

        <!-- errors form server -->
        <div *ngIf="loginError" class="alert alert-danger">{{ loginError }}</div>
      </div>

      <div class="col-md-6">
        <h3>Sign Up</h3>

        <!-- email -->
        <form [ngFormModel]="signUpForm" (submit)="signUp()" class="form">
          <div class="form-group">
            <label for="email">Email</label>
            <input ngControl="email" id="email" #signUpEmail="ngForm" class="form-control" />
            <div [hidden]="signUpEmail.valid || signUpEmail.pristine" 
              class="alert alert-danger">
              Sorry, that email doesn't look correct
            </div>
          </div>

          <!-- password -->
          <div class="form-group">
            <label for="password">Passphrase</label>
            <input ngControl="password" type="password" id="password" #signUpPassword="ngForm" class="form-control" />
            <div [hidden]="signUpPassword.valid || signUpPassword.pristine" 
              class="alert alert-danger">
              Choose a <a target="_blank" href="https://xkcd.com/936/">passphrase</a> (longer than 6 characters)
            </div>
          </div>

          <!-- buttons -->
          <div class="form-group">
            <button type="submit" [disabled]="!signUpForm.valid" class="btn btn-primary">
              <span class="glyphicon glyphicon-log-in"></span>
              Login
            </button>
            <button type="button" class="btn btn-link" (click)="loginModal.hide()">Cancel</button>
          </div>
        </form>

        <!-- errors form server -->
        <div *ngIf="signUpError" class="alert alert-danger">{{ signUpError }}</div>
      </div>


    </div><!-- /row -->

    <div class="row" *ngIf="showForgotPassword">

      <div class="col-md-12">
        <div>
          <a (click)="setShowForgotPassword(false)">
            <span class="glyphicon glyphicon-menu-left"></span>
            Back to login
          </a>
        </div>

        <h3>Forgot your password?</h3>
        <p>If you're having trouble logging in we'll email you a link that will let you reset your password.</p>

        <form [ngFormModel]="forgotPasswordForm" (submit)="forgotPassword()" 
          class="form" *ngIf="!forgotPasswordSuccess">

          <!-- email -->
          <div class="form-group">
            <label for="email">Email</label>
            <input ngControl="email" id="email" #forgotPasswordEmail="ngForm" class="form-control" />
            <div [hidden]="forgotPasswordEmail.valid || forgotPasswordEmail.pristine" 
              class="alert alert-danger">
              Sorry, that email doesn't look correct
            </div>
          </div>

          <!-- buttons -->
          <div class="form-group">
            <button type="submit" [disabled]="!forgotPasswordForm.valid" class="btn btn-primary">
              <span class="glyphicon glyphicon-question-sign"></span>
              Reset Your Password
            </button>
            <button type="button" class="btn btn-link" (click)="setShowForgotPassword(false)">Cancel</button>
          </div>

        </form>

        <!-- error / success messages -->
        <div class="alert alert-danger" *ngIf="forgotPasswordError">
          {{ forgotPasswordError }}
        </div>
        <div class="alert alert-success" *ngIf="forgotPasswordSuccess">
          {{ forgotPasswordSuccess }}
        </div>

      </div>

    </div>
  </div><!-- /container-fluid -->
</modal-info>
